streamlit
pandas
numpy
requests
geopy
groq
langchain==0.3.27
langchain-core==0.3.27
python-dotenv
scikit-learn
sendgrid
pip>=24.0
setuptools>=68.0
wheel

# Install langchain_groq from GitHub
git+https://github.com/groq-ai/langchain-groq.git@main#egg=langchain_groq
